{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<form method="post">
    <label for="lname">Vilniaus buto nuoroda:</label><br>
    <input style="width: 540px;" type="text" id="url" name="url">
    <input type="submit" value="Submit">
</form>
{% if value is defined %}
    <h3> Sistemos įvertinimas: {{ value }} </h3>
{% else %}
    <h3> Laukimo laikas: apie 1min. </h3>
{% endif %}

{% if price is defined %}
    <h3> Skelbimo kaina: {{ price }} </h3>
{% endif %}
{% endblock %}